/* styles for the entire website */
body{
    font-family: 'Josefin Sans', sans-serif;
    max-height: 100%;
    max-width: 80%;
    margin: auto;
    font-weight: 200;
    color: black;
    padding: 15px 45px 15px 45px;
    background-image: linear-gradient(to bottom right, #AADDE3, #ded892);
}

/* styling for the navigation bar */
.main-nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: xx-large;
    padding: 20px 0px 5px 0px;
    font-size: 2.5em;
    font-style: italic;
}
a{
    text-decoration: #f5b505 wavy underline;
    color: #01056b;
}
.home{
    color: #E21212;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
}

.headline{
    font-size: large;
    padding: 1.5%;
    display: flex;
}

.headline-quote{
    width: 95%;
    text-align: center;
    padding: 5px 25px 5px 25px;
}

.home-est-quote{
    font-size: xx-large;
    text-decoration: dotted underline;
}

.contact-us-button{
    writing-mode: vertical-rl; /* makes the writing vertical */
    transform: rotate(360deg); /* rotates the button 360 degrees */
    white-space: nowrap; /* no text wrapping */
    padding: 20px; 
    font-size: xx-large;
    font-weight: 900;
    border-radius: 50%;
    border-style: inset;
    border: 10px dotted #f5b505;
    background-color: transparent;
    color: #E21212;
}

hr{
    background-color: #4cba8c;
    height: 5px;
    border:none;
}

li{
    list-style-type: none;
}


/* styling for the automatic horizontal media scroller */
#contactUsForm{
    border: 5px solid white;
    padding: 25px 10px 25px 10px;
    font-size: xx-large;
    font-weight: 300;
}
#contact-us{
    margin: 80px 400px 100px 100px;
}
.submitBtn{
    font-size: xx-large;
    border-radius: 15%;
    border: #f5b505 dotted 10px;
    background-color: white;
}


.horizontal-media-scroller{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ded892;
    border: 10px solid brown;
    height: 500px;
    width: 50%;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
    overflow: hidden;
}

.slides input{
    display: none;
}

.media-element{
    width: 20%;
    transition: 2s;
}
.media-element img{
    width: 275px;
    height: 360px;
    border-radius: 15%;
    border: 2px solid black;
}

/* styling for manual horizontal media scroller */
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
   background: #ded892; 
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}

/* hidding all pages except for the home page */
#projects,
#about-us,
#services,
#gallery,
#contact-us {
    display: none;
}

